<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= "active" if current_page?(dashboard_apps_path) %>"><%= link_to t("dashboard.apps.index.title"), dashboard_apps_path %></a></li>
  </ul>
</div>
